.link {
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 10px;
  color: white;
  background-color: var(--black);
  border: 1px solid var(--orange);
  &:hover {
    border-left: 5px solid var(--orange);
  }
}
