@keyframes shake {
  0% {
    color: white;
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
    background-color: rgb(255, 255, 255);
  }
}
.wrapper {
  height: 500px;
  form {
    display: grid;
    label {
      margin-bottom: 5px;
    }

    input {
      height: 30px;
      padding-left: 5px;
      outline: none;
      border: 1px solid var(--orange);
    }

    select {
      height: 30px;
      outline: none;
    }
  }
  p {
    margin-bottom: 5px;
  }
}
.formBlock {
  display: grid;
  margin-bottom: 10px;
}
.formBigBLock {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.workerList {
  height: 100px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid var(--orange);
  overflow: scroll;
  li {
    margin-bottom: 5px;
  }
}
.submitBtn {
  margin-top: 10px;
  justify-self: center;
  color: white;
}
.error {
  animation: shake 0.4s;
}
