.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  font-size: 15px;
}

.mainInfo {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.active {
    background-color: var(--orange);
    p {
      color: white;
    }
    .infoIcon {
      fill: white;
    }
    .personalIcon {
      fill: white;
    }
  }
}

.leftSide {
  display: flex;
  gap: 5px;
}

.infoIcon {
  &:hover {
    cursor: pointer;
    fill: var(--orange);
  }
}

.description {
  display: none;
  opacity: 0;
  visibility: hidden;
  padding: 5px 0px 10px 26px;
  border-bottom: 5px solid var(--orange);
  &.show {
    display: block;
    height: fit-content;
    opacity: 1;
    visibility: visible;
    background-color: var(--black);
    p {
      color: white;
    }
  }
}
