.wrapper {
  padding: 0px var(--padding-standart);
}
.subHead {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-standart);
}

.mainContent {
  min-height: 550px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .sectionTitle {
    color: var(--orange);
  }
  .listSection {
    width: 500px;
    min-width: fit-content;
    .listContent {
      width: auto;
      border: 5px solid var(--orange);
      margin-top: 10px;
      max-height: 400px;
      overflow: scroll;
    }
  }
  .statisticSection {
    width: 50%;
    align-self: flex-end;
    ul {
      margin-top: 10px;
      li {
        margin-bottom: 10px;
        list-style: none;
      }
    }
  }
}
