.wrapper {
  min-height: 200px;
  display: grid;
  align-content: center;
}
.subHeader {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.main {
  display: grid;
  grid-template-areas:
    "form personList"
    "statistic statistic";
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.createPerson {
  grid-area: form;
  height: 300px;
}
.activePersonList {
  grid-area: personList;
  .activePersonListInner {
    height: 300px;
    overflow: scroll;
  }
}
.statisticPersonList {
  grid-area: statistic;
}
