.button {
  padding: 5px 10px;
  background-color: var(--black);
  border: 1px solid var(--orange);
  cursor: pointer;
  font-family: "__Unbounded_93cbe6", "__Unbounded_Fallback_93cbe6";
  font-size: 10px;
  color: white;
  &:hover {
    background-color: var(--orange);
    border: 1px solid var(--black);
  }
}
