.wrapper {
  text-align: center;
  h2 {
    margin-bottom: 5px;
  }
  margin-bottom: 10px;
}
.ContentBlock {
  padding: var(--padding-standart);
  border: 1px solid var(--black);
  //   height: 100%;
}
